body{
  padding:40px; 
  margin:10px; 
  background:#363435; 
  color: #ebd5d7;
  font: Tahoma, sans-serif; 
}
#toggle {
  display: block;
  width: 28px;
  height: 30px;
  margin: 30px auto 10px;
}

#toggle span:after,
#toggle span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -9px;
}
#toggle span:after{
  top: 9px;
}
#toggle span {
  position: relative;
  display: block;
}

#toggle span,
#toggle span:after,
#toggle span:before {
  width: 100%;
  height: 5px;
  background-color: #888;
  transition: all 0.3s;
  backface-visibility: hidden;
  border-radius: 2px;
}

/* on activation */
#toggle.on span {
  background-color: transparent;
}
#toggle.on span:before {
  transform: rotate(45deg) translate(5px, 5px);
}
#toggle.on span:after {
  transform: rotate(-45deg) translate(7px, -8px);
}
#toggle.on + #menu {
  opacity: 1;
  visibility: visible;
}

/* menu appearance*/
#menu {
  position: relative;
  color: #999;
  width: 200px;
  padding: 10px;
  margin: auto;
  font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
  text-align: center;
  border-radius: 4px;
  background: white;
  box-shadow: 0 1px 8px rgba(0,0,0,0.05);
  /* just for this demo */
  opacity: 0;
  visibility: hidden;
  transition: opacity .4s;
}
#menu:after {
  position: absolute;
  top: -15px;
  left: 95px;
  content: "";
  display: block;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 20px solid white;
}
#menu ul,#menu li,#menu li a {
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
}
#menu li a {
  padding: 5px;
  color: #888;
  text-decoration: none;
  transition: all .2s;
}
#menu li a:hover,
 li a:focus {
  background: rgb(18, 124, 15);
  color: #fff;
}
figure {
  border: solid;
  display: inline-block;
    height: 15%;
    text-align: center;
    width: 15%;
    vertical-align: middle;
    margin: 100px;
    }
figure>img{
  width: 70%;
  
}
h1{
  text-align: center;
  font-size: 45px;
  font-family: Georgia, serif;
  color: rgb(60, 60, 218);
}
[href]{
  color: #ebd5d7;
}
h2{
  margin: 35px;
  color: rgb(27, 170, 175);
  font-size: 35px;
}
figure:nth-of-type(n):hover{
  transform: scale(2) rotate(360deg);
  transition: transform 2s,background 3s;
  background-color: rgb(26, 187, 199);
  /*animation: myanimation 2s infinite;*/
  
}
ol{
  margin-left: 35px;
  font-size: 30px;
}
/*@keyframes myanimation{
  0% {background-color:red; width:30%;}
  50%{background-color: rgba(221, 103, 103, 0.856)}
  100% {background-color:rgba(139, 56, 74, 0.411); width:50%;}
}*/
header {
  padding: 35px;
  border:  solid;
 background-image: url(https://img.wall-street.ro/image_thumbs/thumbs/942/942e6f9089136806cead24e1f2787fbc-1063x560-00-86.jpg?v=1576768198);
 background-size: 100%;

 
}
.pir{
  
  position: fixed;
  width: 15%;
  
  right: 10px;
  top:10px;
}

.navbar {
  display: grid;
  background-color: #333;
  
}


.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}


.navbar a:hover {
  background-color: rgb(167, 231, 48);
  color: black;
}

@media screen and (max-width: 500px){
  .navbar a{
    width: 80%;
  }
  
  .navbar a{
    grid-row: 1/4;
    grid-template-columns: auto auto auto;
    grid-template-rows: 50px 30% auto;
  }
}
 footer{
    font-size: 12px;text-align: center; color: #888; 
  }

   .closebtn {
   position: fixed;
   left: 10px;
   top:10px;
  float: right;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}
.closebtn:hover {
  color: rgb(216, 186, 186);
}